<footer class="footer" style="background-color: #5C59D4;">
  <div class="container">
    <div class="row footer-con">
      <div class="col-md-3">
        <h1 class="nav-logo">MyStore</h1>
        <p class="footer-cat">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-3">
        <h5 class="footer-title">Category</h5>
        <p class="footer-cat">Living Room</p>
        <p class="footer-cat">Bed Room</p>
        <p class="footer-cat">Bath Room</p>
        <p class="footer-cat">Kitchen</p>
      </div>
      <div class="col-md-3">
        <h5 class="footer-title">Sitemap</h5>
        <p class="footer-cat">Products</p>
        <p class="footer-cat">Services</p>
        <p class="footer-cat">Articles</p>
        <p class="footer-cat">About Us</p>
      </div>
      <div class="col-md-3">
        <h5 class="footer-title">Follow Us</h5>
        <p class="footer-cat">Facebook</p>
        <p class="footer-cat">Instagram</p>
        <p class="footer-cat">TikTok</p>
        <p class="footer-cat">YouTube</p>
      </div>
    </div>
    <hr style="border-color: #fff;">
    <p class="text-center">&copy; <%= Time.current.year %> MyStore App. All rights reserved.</p>
  </div>
</footer>
