<div class="homepage-container">
  <div class="image-container">
    <%= image_tag "image1.jpg", class: "background-image" %>
    <div class="overlay-text">
      <h1>Welcome to MyStore App</h1>
      <p>Discover the perfect accessory to complete your outfit. Our handcrafted leather wallets combine style and functionality, with ample storage for cards and cash.</p>
      <%= link_to "Browse Products", products_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
