<p class="notice" style="color: green;"><%= notice %></p>
<br />
<br />
<br />
<div class="product-details">
  <%= render @product %>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<%
=begin%>
 <div class="actions">
  <%= link_to "Back", products_path, class: "btn btn-outline-secondary" %> | 
  <%= link_to "Delete", @product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
  <br />
  <br />
</div> 
<%
=end%>
<br />
<br />
<br />
